{% extends 'base.html' %} {% block content %}
<div class="container mx-auto">
    <h1 class="text-2xl font-bold mb-4">Profile</h1>
    <div class="bg-white p-6 rounded-lg shadow">
        <p class="mb-4">Username: {{ user.username }}</p>
        <p class="mb-4">Email: {{ user.email }}</p>
        <p class="mb-4">
            Deposit Amount: ${{ user.useraccount.deposit_amount }}
        </p>
        <h2 class="text-xl font-bold mb-2">Borrowing History:</h2>
        <ul>
            {% for history in borrowing_history %}
            <li>
                {{ history.book.title }} - Borrowed on: {{
                history.borrowing_date }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
