{% extends 'base.html' %} {% block content %}
<div class="container mx-auto">
    <h1 class="text-2xl font-bold mb-4">Return a Book</h1>
    <div class="bg-white p-6 rounded-lg shadow">
        <form action="{% url 'return' %}" method="post">
            {% csrf_token %}
            <div class="mb-4">
                <label for="book" class="block text-sm font-bold mb-2"
                    >Select a Book to Return:</label
                >
                <select name="book" id="book" class="w-full p-2 border rounded">
                    {% for book in borrowed_books %}
                    <option value="{{ book.id }}">{{ book.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <button
                type="submit"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            >
                Return
            </button>
        </form>
    </div>
</div>
{% endblock %}
